  /* SetUp
   ========================================================================== */
$primary: #2e90fa;
$primary60: #5ba8fd;
$darkgray:#98A2B3;
$black:#2D3039;
$white:#F2F6FF;
$lightgray:#D7DBE3;
$alternativebg: #EAF4FF;
$greendefault: #66C8BC;
$orangedefault: #FD9B64;
$pinkdefault: #DB92FE;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    background-color: #fff;
}
  
body{
    background-color:$white;
    font-family: 'Lato', monospace;
}

li{
    list-style: none;
}

h1{
    color: $black;
    font-family: Lato;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 72.385%; /* 34.745px */
}

h2{
    color: $primary60;
    font-family: Lato;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 72.385%; /* 23.163px */
}

h4{
    color: $primary;
    text-align: left;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
 

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    text-decoration: none;
    color: $black;
    background-color: transparent;
  }

  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  /* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
  }
  /* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}
/**
 * Remove the inner border and padding in Firefox.
 */

 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
   border-style: none;
   padding: 0;
 }
 
 /**
  * Restore the focus styles unset by the previous rule.
  */
 
 button:-moz-focusring,
 [type="button"]:-moz-focusring,
 [type="reset"]:-moz-focusring,
 [type="submit"]:-moz-focusring {
   outline: 1px dotted ButtonText;
 }
 
 /**
  * Correct the padding in Firefox.
  */
 
 fieldset {
   padding: 0.35em 0.75em 0.625em;
 }
 
 /**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
 
 legend {
   box-sizing: border-box; /* 1 */
   color: inherit; /* 2 */
   display: table; /* 1 */
   max-width: 100%; /* 1 */
   padding: 0; /* 3 */
   white-space: normal; /* 1 */
 }
 
 /**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */
 
 progress {
   vertical-align: baseline;
 }
 
 /**
  * Remove the default vertical scrollbar in IE 10+.
  */
 
 textarea {
   overflow: auto;
 }
 
 /**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */
 
 [type="checkbox"],
 [type="radio"] {
   box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
 }
 /**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

 [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }

    /*Sass class
   ========================================================================== */
    .flex-col{
        display: flex;
        flex-direction: column;
    }
   .flex-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .flex-row{
    display: flex;
    flex-direction: row;
   }
   .flex-row-spaceb{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }
   .row-margin-items{
    margin:0 1rem;
   }
   .span-icon-img{
    display: block;
    background-repeat: no-repeat;
    background-position:  center;
    background-size: contain;
   }
   .placeholder-text-styles{
    color:  #98A2B3;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.41px;
   }
   .placeholder-icon-setup{
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: .2rem center;
   }
   .chip{
    display: flex;
    width: 208px;
    padding: 16px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
   }
   .epigraph{
    font-size: .8em;
    text-transform: uppercase;
    color: $darkgray;
   }
   .vetical-margin{
    margin: 1rem 0;
   }
   .icon-w-h{
    width: 16px;
    height: 16px;
   }
   .footer-text-style{
    color: $darkgray;
    font-size:.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
   }


  /* Desktop first but...
   ========================================================================== */

.general-container{
    width: 100%;
    height: auto;
    @extend .flex-col;

    //  nav
    nav{
        width: 100%;
        padding: 1rem 2rem;
        @extend .flex-row-spaceb;

        a picture img{
            width: 2rem;
            height: 2rem;
        }

        .nav-content{
            width: 100%;
            @extend .flex-row;
            align-items: center;
            justify-content: end;

            ul{
                @extend .flex-row;
                margin: 0 2rem;
                li{
                   @extend .row-margin-items;

                    a:hover, .index{
                        color: $primary;
                    }
                }
            }
    
            .lang{
                width: 8%;
                @extend .flex-row-spaceb;
    
                span{
                    @extend .icon-w-h;
                   @extend .span-icon-img;
                    background-image: url('./img/icons/lang-icon.svg');
                }
            }
        }
    }
    .content-container{
        width: 50%;
        margin: 0 auto;
        // header
        header{
            width: 100%;
            height: auto;
            padding: 1rem 0;
            @extend .flex-col-center;
            .first-container-header{
                width: 100%;
                height: auto;
                @extend .flex-col-center;
                padding: 1rem 0;
                .second-container-header{
                    width: 100%;
                    @extend .flex-col-center;
                    @extend .vetical-margin;
                    p{
                        @extend .vetical-margin;
                        color: $darkgray;
                    }
                }
            }

            label {
                width: 100%;
                @extend .vetical-margin;
                @extend .flex-col-center;

                input{
                    width: 80%;
                    border:solid 1px $primary60;
                    border-radius: 50px;
                    background-color: transparent;
                    padding: .5em ;

                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                input::placeholder{
                    padding: 2em;
                    @extend .placeholder-text-styles;

                    background-image: url('./img/icons/search-icon.svg');
                    @extend .placeholder-icon-setup;
                }
            }

            .chips-container{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                .aa-chip, .ap-chip, .ac-chip{
                    @extend .chip;
                    a{color: $white;}
                    margin: .6rem;
                }

                .aa-chip{ background-color: $greendefault; }
                .ap-chip{ background-color: $orangedefault; }
                .ac-chip{ background-color: $pinkdefault;}
            }
        }
    }
     // faqs
    .faqs{
        width: 100%;
        height: auto;
        padding: 2rem 0;
        @extend .flex-col;
        align-items: left;
        justify-self: center;
        background-color: $alternativebg;

        .content-container{
            .text-container{
                width: 100%;
                height: auto;
                @extend .flex-col;
                align-items: left;
                justify-content: space-between;
                @extend .vetical-margin;
    
                p{ @extend .vetical-margin; }
            }
            .q-a-container{
                width: 100%;
                height: auto;
                margin: 2rem 0;

                a{
                    width: 100%;
                    height: auto;
                    @extend .flex-row-spaceb;
                    color: $darkgray;
                    @extend .vetical-margin;
                    .chevron{
                        @extend .icon-w-h;
                        @extend .span-icon-img;
                        background-image: url('./img/icons/chevron-icon.svg');
                    }
                }

                
            }
        }
    }

    // cta terminar esto
    .cta{
        width: 100%;
        height: auto;
        
        background-color: pink;
    }

    // footer
    footer{
        width: 100%;
        height: auto;
        @extend .flex-col-center;
        padding: 0 2rem;

        .first-container-footer{
            width: 100%;
            height: auto;
            @extend .flex-row;
            align-items: start;
            justify-content: space-between;
            padding: 2rem 1rem;

            a picture img{
                width: 2rem;
                height: 2rem;
            }

            .footer-col{
                width: auto;
                height: auto;
                @extend .flex-col;
                align-items: left;
                justify-content: center;
               
                .col-link{
                    @extend .flex-col;
                    @extend .vetical-margin;
                    a{
                        margin: 0.5rem 0;
                        @extend .footer-text-style;
                    }
                }
            }

            .rrss{
                width: auto;
                height: auto;
                @extend .flex-row;
                
                span{
                    @extend .icon-w-h;
                    @extend .span-icon-img;
                    margin: 0 .8rem;
                }

                span:nth-child(1){ background-image: url('./img/icons/x-icon.svg');}
                span:nth-child(2){ background-image: url('./img/icons/f-icon.svg');}
                span:nth-child(3){ background-image: url('./img/icons/ig-icon.svg');}
            }
        }

        .second-container-footer{
            width: 100%;
            height: auto;
            @extend .flex-row-spaceb;
            @extend .footer-text-style;
            div{
                @extend .flex-row;
                align-items: center;
                justify-content: space-around;
                @extend .footer-text-style;
                a picture img{
                    width: 2rem;
                    height: 2rem;
                    margin: 0 1rem;
                }
            }
        }
    }
}


